In [2]:
import pandas as pd
import numpy as np

In [3]:
#Fri Afternoon DDoS
data1 = pd.read_csv("F:/Internship/Dataset/Cleaner Data/Fri_Afternoon_DDoS.csv")
df1 = pd.DataFrame(data1)

#Fri Afternoon Portscan
data2 = pd.read_csv("F:/Internship/Dataset/Cleaner Data/Fri_Afternoon_Portscan.csv")
df2 = pd.DataFrame(data2)

#Fri Morning Pcap
data3 = pd.read_csv("F:/Internship/Dataset/Cleaner Data/Fri_Morning_pcap.csv")
df3 = pd.DataFrame(data3)

#Mon Working Pcap
data4 = pd.read_csv("F:/Internship/Dataset/Cleaner Data/Mon_Working_Pcap.csv")
df4 = pd.DataFrame(data4)

#Thurs Morning WebAttack
data5 = pd.read_csv("F:/Internship/Dataset/Cleaner Data/Thurs_Morning_Webattack.csv")
df5 = pd.DataFrame(data5)

#Tues Working Pcap
data6 = pd.read_csv("F:/Internship/Dataset/Cleaner Data/Tues_Working_pcap.csv")
df6 = pd.DataFrame(data6)

#Web Working Pcap
data7 = pd.read_csv("F:\Internship\Dataset\Cleaner Data\Wed_Working_pcap.csv")
df7 = pd.DataFrame(data7)

In [9]:
print(df1[' Label'].describe())
df1[' Label'].value_counts()

count    225711.000000
mean          0.567208
std           0.495464
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name:  Label, dtype: float64

1    128025
0     97686
Name:  Label, dtype: int64

In [10]:
print(df2[' Label'].describe())
df2[' Label'].value_counts()

count    286096.000000
mean          0.555072
std           0.496959
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name:  Label, dtype: float64

1    158804
0    127292
Name:  Label, dtype: int64

In [19]:
print(df3[' Label'].describe())
df3[' Label'].value_counts()

count    190911.000000
mean          0.010246
std           0.100701
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name:  Label, dtype: float64

0    188955
1      1956
Name:  Label, dtype: int64

In [20]:
print(df4[' Label'].describe())
df4[' Label'].value_counts()

count    529481.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name:  Label, dtype: float64

0    529481
Name:  Label, dtype: int64

In [21]:
print(df5[' Label'].describe())
df5[' Label'].value_counts()

count    170231.000000
mean          0.012806
std           0.112438
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name:  Label, dtype: float64

0    168051
1      2180
Name:  Label, dtype: int64

In [22]:
print(df6[' Label'].describe())
df6[' Label'].value_counts()

count    445645.000000
mean          0.031038
std           0.173421
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name:  Label, dtype: float64

0    431813
1     13832
Name:  Label, dtype: int64

In [23]:
print(df7[' Label'].describe())
df7[' Label'].value_counts()

count    691406.000000
mean          0.364074
std           0.481170
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name:  Label, dtype: float64

0    439683
1    251723
Name:  Label, dtype: int64

In [24]:
#Lets keep Friday Afternoon Portscan Dataset for testing and combine the rest

In [4]:
#Combining Dataset Except df2

combined_df = pd.concat([df1, df3, df4, df5, df6, df7], axis=0) 

combined_df

,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,Bwd Packet Length Max,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,3,2,0,12,0,6,6,6.0,0.00000,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1,109,1,1,6,6,6,6,6.0,0.00000,6,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
2,52,1,1,6,6,6,6,6.0,0.00000,6,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
3,34,1,1,6,6,6,6,6.0,0.00000,6,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
4,3,2,0,12,0,6,6,6.0,0.00000,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691401,32215,4,2,112,152,28,28,28.0,0.00000,76,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
691402,324,2,2,84,362,42,42,42.0,0.00000,181,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
691403,82,2,1,31,6,31,0,15.5,21.92031,6,...,32,0.0,0.0,0,0,0.0,0.0,0,0,0
691404,1048635,6,2,192,256,32,32,32.0,0.00000,128,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
691405,94939,4,2,188,226,47,47,47.0,0.00000,113,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0

In [9]:
#Export combined dataset
combined_df.to_csv("F:/Internship/Dataset/Cleaner Data/Combined/combined_attack_data.csv", index =False)

In [5]:
from sklearn.feature_selection import mutual_info_classif

In [6]:
#Calculating informaionn gain using sklearn
information_gain = mutual_info_classif(combined_df.iloc[:, :-1],combined_df[' Label'])

In [18]:
information_gain

array([0.22165685, 0.12863324, 0.18041818, 0.26247416, 0.30912577,
       0.25718274, 0.10186719, 0.21701778, 0.23547788, 0.29002908,
       0.11607646, 0.31783628, 0.25322172, 0.18630504, 0.20230258,
       0.20196893, 0.18307268, 0.23638951, 0.06766137, 0.24051047,
       0.22768347, 0.20033194, 0.25226748, 0.08949449, 0.17136301,
       0.15768232, 0.12919598, 0.18480255, 0.12128756, 0.01018003,
       0.17727945, 0.21205097, 0.19876591, 0.21251771, 0.10337907,
       0.27557553, 0.29159726, 0.29681532, 0.29696485, 0.02555644,
       0.01032619, 0.00034213, 0.05269166, 0.11755791, 0.02834361,
       0.        , 0.19066363, 0.33234923, 0.21689588, 0.31785788,
       0.17726263, 0.12864846, 0.26233784, 0.18058379, 0.30872149,
       0.299578  , 0.24626862, 0.06513925, 0.00108421, 0.16696624,
       0.01614504, 0.16485112, 0.16623885, 0.14404307, 0.0247597 ,
       0.15083416, 0.14471302])

In [7]:
#Create a data set with all the columns and their information gain
info_obtained = {'Attributes': combined_df.columns[:-1].tolist() ,'information_gain': information_gain}

In [8]:
info_df = pd.DataFrame(info_obtained)

In [9]:
info_df

                      Attributes  information_gain
0                  Flow Duration          0.221657
1              Total Fwd Packets          0.128633
2         Total Backward Packets          0.180418
3    Total Length of Fwd Packets          0.262474
4    Total Length of Bwd Packets          0.309126
..                           ...               ...
62                    Active Min          0.166239
63                     Idle Mean          0.144043
64                      Idle Std          0.024760
65                      Idle Max          0.150834
66                      Idle Min          0.144713

[67 rows x 2 columns]

In [21]:
#Extract data to csv file
info_df.to_csv("F:/Internship/Dataset/Cleaner Data/Combined/info_gain-ratio.csv", index =False)

In [12]:
#Size of subset containing 0 (benign)
subset_0 = combined_df[combined_df[' Label'] == 0].shape[0]
subset_0

1855669

In [13]:
#Size of subset containing 1 (Attack)
subset_1 = combined_df[combined_df[' Label'] == 1].shape[0]
subset_1

397716

In [16]:
#Stored size of subset in an array
subset_sizes = np.array([1855669,397716])
parent_size = np.sum(subset_sizes)

#Calculating Split Information
split_information = -np.sum((subset_size / parent_size) * np.log2(subset_size / parent_size) for subset_size in subset_sizes)

split_information

C:\Users\RDRL\AppData\Local\Temp\ipykernel_16788\3018460567.py:3: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  split_information = -np.sum((subset_size / parent_size) * np.log2(subset_size / parent_size) for subset_size in subset_sizes)

0.6723538143066957

In [19]:
#Calculating gain ratio
gain_ratio = information_gain / split_information

In [21]:
gain_ratio

array([0.32967293, 0.19131778, 0.26833815, 0.390381  , 0.45976652,
       0.38251101, 0.15150831, 0.32277319, 0.35022911, 0.43136378,
       0.17264193, 0.47272177, 0.37661975, 0.27709375, 0.30088709,
       0.30039084, 0.27228622, 0.35158499, 0.10063357, 0.35771415,
       0.3386364 , 0.29795613, 0.37520049, 0.13310624, 0.25487029,
       0.23452283, 0.19215476, 0.27485907, 0.18039246, 0.01514088,
       0.26366988, 0.31538599, 0.29562696, 0.31608017, 0.15375695,
       0.40986684, 0.43369614, 0.44145704, 0.44167943, 0.0380104 ,
       0.01535827, 0.00050885, 0.07836894, 0.1748453 , 0.0421558 ,
       0.        , 0.28357634, 0.49430705, 0.32259188, 0.47275389,
       0.26364487, 0.19134042, 0.39017826, 0.26858446, 0.45916522,
       0.445566  , 0.36627831, 0.09688239, 0.00161255, 0.24833093,
       0.02401272, 0.24518507, 0.24724906, 0.21423701, 0.0368254 ,
       0.22433748, 0.21523343])

In [22]:
info_df['gain_ratio'] = gain_ratio

In [23]:
info_df

                      Attributes  information_gain  gain_ratio
0                  Flow Duration          0.221657    0.329673
1              Total Fwd Packets          0.128633    0.191318
2         Total Backward Packets          0.180418    0.268338
3    Total Length of Fwd Packets          0.262474    0.390381
4    Total Length of Bwd Packets          0.309126    0.459767
..                           ...               ...         ...
62                    Active Min          0.166239    0.247249
63                     Idle Mean          0.144043    0.214237
64                      Idle Std          0.024760    0.036825
65                      Idle Max          0.150834    0.224337
66                      Idle Min          0.144713    0.215233

[67 rows x 3 columns]

In [24]:
#Extract data to csv file
info_df.to_csv("F:/Internship/Dataset/Cleaner Data/Combined/info_gain-ratio.csv", index =False)